.banner{
    width: 100%;
    background-color: white;
    display: inline-block;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}
body{
    padding-top: 30px;
}
.left_menu{
    float: left;
}
.mid_menu{
    float: right;
    left:50%;
}
.right_menu{
    float: right;
}

.nav-menu{
    background-color: white;
    width: 400px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    transition: 860ms;
    left:-100%;
    z-index: 100;
}
.nav-menu.active{
    left:0;
    transition: 350ms;
}
.nav-menu-items{
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    list-style: none;
}
.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color:#444444;
    font-size: 18px;
    width:95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}