.bottom-wrapper {
    /* 생략 */
    position: relative;
    vertical-align: middle;
    padding-top: 50px;
    padding-bottom: 100px;
}
.bottom-in {
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
    color: white;
}