.productinfo .wrap{ 
    display: flex;
    justify-Content : space-between;
    margin-top: 5%;
}

.productinfo_img{
    display: flex;
    margin-left: 10%;
    height: auto;
    min-width: 800px;
}

.img_sub{
    margin-top: 3%;
    margin-right: 5%;
}

.img_sub_sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}

.title{
    margin-bottom: 1%;
}

.radiosize{
    display: flex;
}

.productinfo_detail{
    margin-top: 3%;
    margin-right: 18%;
}

.detail_info{
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}

.colorbtn{
    margin-top: 5%;
    margin-bottom: 5%;
}

.radiosize{
    margin-top: 5%;
    margin-bottom: 5%;
}

.detail_info_content_btn{
    margin-top: 5%;
    margin-bottom: 5%;
}

.detail_info_content_text{
    
    min-height: 300px;
}

.closeevent{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(199, 199, 199);
}